.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 70%;
    color: black;
    font-size: 40px;
    text-align: center;
    border-collapse: collapse;
    background: #CFB53B;
    margin: auto;
}
.table_dark th {
    color: black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 12px 17px;
    font-size: 14px;
}

.table_dark td {
    color: black;
    border-bottom: 1px solid #8d9394;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 7px 17px;
    font-size: 14px;


}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #8d9394;
}